<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd">

	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:ignoreUnresolvablePlaceholders="false" p:ignoreResourceNotFound="true">
		<property name="locations">
			<list>
				<value>classpath:arsnova.properties.example</value>
				<value>file:///etc/arsnova/arsnova.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8" />
	</bean>

	<context:component-scan base-package="de.thm.arsnova.dao,de.thm.arsnova.cache,de.thm.arsnova.events,de.thm.arsnova.security,de.thm.arsnova.services,de.thm.arsnova.config,de.thm.arsnova.domain" />

	<context:annotation-config />

	<task:annotation-driven />

	<!--
		expose-proxy is needed to access the proxy object via AopContext.currentProxy() in CouchDBDao. It might have a
		negative impact on performance but is needed for caching until a better solution is implemented (e.g. use of
		AspectJ's weaving).
	-->
	<aop:aspectj-autoproxy expose-proxy="true">
		<aop:include name="userSessionAspect" />
	</aop:aspectj-autoproxy>

	<bean id="userSessionAspect" class="de.thm.arsnova.aop.UserSessionAspect" />

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}"/>
		<property name="username" value="${mail.sender.name}"/>
		<property name="password" value="${mail.sender.password}"/>
		<property name="protocol" value="smtp"/>
		<property name="port" value="${mail.port}" />
		<property name="defaultEncoding" value="utf-8"/>
		<property name="javaMailProperties">
	   <props>
	       <prop key="mail.smtp.auth">true</prop>
	       <prop key="mail.smtp.port">${mail.port}</prop>
				 <prop key="mail.user">${mail.sender.name}</prop>
				 <prop key="mail.password">${mail.sender.password}</prop>
				 <prop key="mail.smtp.host">${mail.host}</prop>
	   </props>
	</property>
	</bean>

	<bean id="databaseDao" class="de.thm.arsnova.dao.CouchDBDao" />

	<bean id="socketListener" class="de.thm.arsnova.socket.ARSnovaSocketListener" />
</beans>
